<title>Sherlock</title>

<script type="text/javascript" src="scripts/app.js"></script>

<link rel="stylesheet" type="text/css" href="styles/layout.css">
<link rel="shortcut icon" href="images/favicon.ico">