<!DOCTYPE html>
<html>

<head>
  <% include partials/_meta.ejs %>
</head>

<body>
  <% include partials/_nav.ejs %>
  <br>

  <div>
    <% include partials/_logo.ejs %>
    <input type="number" id="removeID"><br><br>
    <button onclick="remove()">Delete</button>
    <button onclick="location.reload()">Refresh</button>
  </div>
</body>

</html>
